/* main labs header*/
h1 {
    margin-top: 3%;
    font: bold 4.5vw 'Open Sans', arial, sans-serif;
    text-align: center;
    color: #25355A;
    z-index: 0;
}

/* all assignments*/
.assignments {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5%;
}

/* style each assignment table*/
.assignment {
    font: bold 1.3vw 'Open Sans', arial, sans-serif;
    width: 25vw;
    border-radius: 2vw;
    border: solid;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding-top: 8vw;
    margin-bottom: 7%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #444444;
}
.assignment h2 {
    color: #F2F4F7;
    background-color: #25355A;
    width: 23.2vw;
    height: 8vw;
    text-align:center;
    border-style: none;
    border: none;
    padding: 1vw;
    margin-bottom: 7%;
    z-index: -1;
    position:relative;
    right:0.3%;
}
.assignment p {
    color: black;
    font-size: 1vw;
}
.assignment a:hover {
    color: #F2F4F7;
    background-color: #394444;
    background-size: 10%;
    text-decoration: underline;
    transition: 500ms ease;
}

/* style a text with a link next to it*/
.textwithlink {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
.textwithlink a {
    margin-left: 1%;
}
.textwithlink p {
    font-size: 1.3vw;
}